.burger {
  display: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #F3C83B;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 0.5rem;
}

.menu > ul {
  display: flex;
  list-style: none;
}

.menu > ul > li {
  margin-left: 1rem;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #ccc;
  font-weight: 700;
}

.menu > ul > li > a:hover {
  color: #F3C83B;
}

.button {
  background: linear-gradient(90deg, #FED775 0%, #FEB902 100%);
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  border-color: #ccc;
  border-style: solid;
  font-size: 0.8rem;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  box-shadow: -10px 10px 50px 20px rgba(0, 0, 0, .2);
  transition: all 1s ease-in-out;
}

.button:hover {
  background: linear-gradient(90deg, #FEB902 0%, #FEB902 100%);
}

@media (max-width: 768px) {
  .content {
    max-width: 80%;
    margin: 0;
    padding: 2rem 1rem;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
}