.heroBg{
  overflow: hidden;
  background: linear-gradient(45deg, #7D4EE3, #BF6A91);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  position:absolute;
  z-index: -1;
  }
  
  .heroBg:before,.heroBg:after{
      content:'';
      position:absolute;
      width:100%;
      height:100%;
  }
  .heroBg:before{
      background: #B38BFB;
      box-shadow: 0 0 140px 64px #B38BFB;
      z-index:2;
      top: -100%;
      left: -72%;
      opacity: 0.8;
  }
  .heroBg:after {
  background: white;
  z-index: 3;
  bottom: -96%;
  right: -72%;
  box-shadow: 0 0 440px 164px white;
  opacity: 1;
  border-radius: 100%;
  }

.hero {
  display: flex;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
}

.left {
  flex: 1;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 1rem;
  width: 70%;
  line-height: 1.2;
}

.heroTitle > span {
  color: #F3C83B;
}

.heroSubtitle {
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: .5px;
  color: #ccc;
  margin-bottom: 1rem;
  width: 70%;
  line-height: 1.2;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  background: linear-gradient(90deg, #FED775 0%, #FEB902 100%);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  border-color: #ccc;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
